$textColor: lightslategrey;
$semiBoldText: 600;
$marginForContainer: 1% 0 2%;
$darkBG: black;
$whiteText: white;
$buttonPadding: 1% 4%;
$buttonMargin: 2% 0;
$bannerPadding: 1% 10%;
$buttonRadius: 5px;
$testBorder: 5px solid black;

.container{
    margin: $marginForContainer;
}
.navText{
    color: $textColor;
    font-weight: $semiBoldText;
}
p{
    color: $textColor;
}
.byButton{
    background-color: $darkBG;
    color:$whiteText;
    padding: $buttonPadding;
    border-radius: $buttonRadius;
    margin: $buttonMargin;
    border: none;
}
.Banner{
    padding: $bannerPadding ;
    // border: $testBorder;
    // height: auto;
}
.bgContainer{
    height: 550px;
    background: url("../resources/images/bg-top-right.png");

}
// .leftBg{
//     background-image: url("../resources/images/bg-top-left.png");
//     border: $testBorder;
// }
// .rightBg{
//     background-image: url("../resources/images/bg-top-right.png");
//     border: $testBorder;
// }
// .absoluteContainer{
//     position: absolute;
//     top: 10%;
// }
.center-align{
    text-align: center;
}
#cfoot3,#cfoot2, #cfoot1 {
    border-top: none;
    background-color: #fff;
    text-align: center;
    // border: $testBorder;
}
#cfoot3 button,#cfoot2 button,#cfoot1 button{
    padding: 3% 6%;
    font-weight: $semiBoldText;
}
.card{
    // border: $testBorder !important;
    box-shadow: 5px 5px 15px lightgrey;
    height: 150px;
}
.cpad{
    padding: 14% 14% 3%;
    border: none;
    border-radius: 10px !important;
}
.cardbefore{
    margin: 2% 0;
}
.seeall{
    color: orange;
}
.categories{
    margin: 5% 0;
    // border-bottom: 10px solid orange;
    // margin-inline: 10px 20px;
    // width: 30%;
    // display: inline;
    // margin-left: auto;
}
// .slash{
//    color: orange;
// }

.catImg{
    // border: $testBorder;
    box-shadow: 5px 5px 5px lightslategrey;
    
}

// .midCat{
//     border: $testBorder;
//     margin-top: 5%;
// }